.creationsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

.sectionTitle {
  margin-block: 0.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1;
}

.cardsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
}

.creation {
  width: 100%;
  height: 8rem;
}

.card {
  aspect-ratio: 2.5/1;
  font-size: 1.35rem;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  position: relative;
  color: hsl(var(--clr-white));
  min-width: 100%;
  background-image: linear-gradient(to right, #000a, transparent);
  overflow: hidden;
  transition: all 50ms linear;
  text-align: left;
}

.card:hover {
  color: hsl(var(--clr-black));
  background-image: unset;
  background-color: hsla(var(--clr-white), 70%);
}

.postTitle {
  z-index: 10;
  position: absolute;
  bottom: 1.2rem;
  left: 1.4rem;
  line-height: 1;
  max-width: 10ch;
  pointer-events: none;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkBtn {
  border: 1px solid hsl(var(--clr-black));
  background: hsl(var(--clr-white));
  padding: 0.75rem 2.5rem 0.5rem;
  letter-spacing: 0.3rem;
  transition: all 100ms linear;
}

.linkBtn:hover {
  filter: invert(1);
}

/* Media queries */

@media (min-width: 500px) {
  .cardsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .cardsWrapper {
    grid-template-columns: repeat(3, 1fr);
    margin: 2rem 0;
  }

  .card {
    aspect-ratio: 1/1.8;
    background-image: linear-gradient(to top, #000a, transparent);
  }

  .sectionTitle {
    align-self: start;
  }

  .linkBtn {
    align-self: end;
    position: absolute;
  }
}

@media (min-width: 900px) {
  .cardsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
