.wrapper {
  background: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  padding: 4rem 1.5rem;
  width: 100%;
  max-width: 1440px;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1rem;
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 20px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 1.5rem 0 2rem;
}

.copyright {
  color: hsl(var(--clr-darkGray));
}

/* Media queries */

@media (min-width: 701px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "logo socials"
      "links copyright";
    gap: 1.5rem;
  }

  .footer > * {
    justify-self: start;
    margin: 0;
  }

  .nav {
    grid-area: links;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .socials {
    grid-area: socials;
    justify-self: end;
  }

  .copyright {
    grid-area: copyright;
    justify-self: end;
  }
}
