.social-icon {
  color: hsl(var(--clr-white));
  position: relative;
}

@media (min-width: 701px) {
  .social-icon:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -0.5rem;
    transform: translateX(-50%);
    height: 0.15rem;
    width: 1.5rem;
    background-color: white;
  }
}
