.Card {
  position: relative;
  background: hsl(235, 46%, 20%);
  border-radius: var(--bradius);
  padding: 0.5rem;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    top: -2rem;
    bottom: 2rem;
    z-index: -1;
    border-radius: var(--bradius);
  }

  &.Card-Work {
    &::before {
      background-color: var(--c-work);
      background-image: url(/images/icon-work.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) -0.5rem;
    }
  }

  &.Card-Play {
    &::before {
      background-color: var(--c-play);
      background-image: url(/images/icon-play.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) -0.5rem;
    }
  }

  &.Card-Study {
    &::before {
      background-color: var(--c-study);
      background-image: url(/images/icon-study.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) -0.5rem;
    }
  }

  &.Card-Exercise {
    &::before {
      background-color: var(--c-exercise);
      background-image: url(/images/icon-exercise.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) 0;
    }
  }

  &.Card-Social {
    &::before {
      background-color: var(--c-social);
      background-image: url(/images/icon-social.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) -0.5rem;
    }
  }

  &.Card-SelfCare {
    &::before {
      background-color: var(--c-selfcare);
      background-image: url(/images/icon-self-care.svg);
      background-repeat: no-repeat;
      background-position: calc(100% - 1rem) -0.5rem;
    }
  }
}
