.User {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  background: var(--c-primary);
  border-radius: var(--bradius);
  gap: 1rem;
  --b: 4rem;
  margin-bottom: var(--b);

  &__info {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1rem;
  }

  &__name {
    color: var(--c-paleblue);
    text-align: left;
    font-size: 0.8rem;

    & span {
      display: block;
      color: #fff;
      font-size: 1.2rem;
    }
  }

  &__picture {
    height: 3.5rem;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  &__timeframes {
    font-size: 0.9em;
    color: var(--c-desatblue);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
    border-bottom-left-radius: var(--bradius);
    border-bottom-right-radius: var(--bradius);
    bottom: calc(var(--b) * -1);
    padding: 0 1.5rem;
    height: var(--b);

    & span {
      padding: 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      user-select: none;

      &[data-active="1"] {
        color: #fff;
        cursor: default;
        user-select: initial;
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background: var(--c-darkblue);
    bottom: calc(var(--b) * -1);
    z-index: -1;
  }
}
